/* https://github.com/AprilSylph/JSONdrop */

details > * {
	margin: 0;
}
details > :not(summary) {
	padding-left: 4ch;
}
details > :not(summary):not(:last-child)::after {
	content: ",";
}
details:not([open])::after {
	display: none;
}

.object:not([open]) > summary span:empty::before {
	content: "Object";
}
.object:not([open]) > summary::after {
	content: " { ... }";
}
.object:not([open]) > summary:last-child::after {
	content: " { }";
}
.object:not([open]):not(:last-child) > summary::after {
	content: " { ... },";
}
.object:not([open]):not(:last-child) > summary:last-child::after {
	content: " { },";
}
.object[open] > summary::after {
	content: " {";
}
.object[open]::after {
	content: "}";
}
.object[open]:not(:last-child)::after {
	content: "},";
}

.array:not([open]) > summary span:empty::before {
	content: "Array";
}
.array:not([open]) > summary::after {
	content: " [ ... ]";
}
.array:not([open]) > summary:last-child::after {
	content: " [ ]";
}
.array:not([open]):not(:last-child) > summary::after {
	content: " [ ... ],";
}
.array:not([open]):not(:last-child) > summary:last-child::after {
	content: " [ ],";
}
.array[open] > summary::after {
	content: " [";
}
.array[open]::after {
	content: "]";
}
.array[open]:not(:last-child)::after {
	content: "],";
}
